<div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       <tr>
         <td><strong>County :</strong> County</td>
         <td><strong>Sub County :</strong>Sub County</td>
       </tr>
       <tr>
         <td><strong>Estate/Landmark :</strong>Estate</td>
         <td><strong>Town/Village : </strong>Town</td>
       </tr>
       <tr>
         <td><strong>State/Province : </strong> Province</td>
         <td></td>
       </tr>
    </tbody>
  </table>
</div>

