
<p-dialog header="Edit contacts" [(visible)]="display">
  <div class="alert alert-success" *ngIf="showSuccessAlert" style="margin-top:10px">
    <strong>Done!</strong> {{successAlert}}
  </div>
  <div class="alert alert-danger" *ngIf="showErrorAlert" style="margin-top:10px">
    <strong>{{errorTitle}}</strong> {{errorAlert}}
  </div>

    <label for="phoneNumber">Phone Number</label>
  <input type="text" id="patientPhoneNumber" class="form-control"
         name="patientPhoneNumber"
         minlength="10" maxlength="15"
         [pattern]="pattern">
  <br>
  <label for="alternativePhoneNumber">Alternative Phone Number</label>
  <input type="text" id="alternativePhoneNumber" class="form-control"
         names="alternativePhoneNumber"
         minlength="10" maxlength="15"
         [pattern]="pattern">
  <br>

  <label for="spousePhoneNumber">Spouse Phone Number</label>
  <input type="text" id="patnerPhoneNumber" class="form-control"
         spousePhoneNumber="patnerPhoneNumber" minlength="10" maxlength="15" [pattern]="pattern"
  >
  <br>
  <label for="nextOfKin">Next of Kin phone number</label>
  <input type="text" id="nextofkinPhoneNumber" class="form-control"
         nextOfKin="nextofkinPhoneNumber"
         minlength="10" maxlength="15" [pattern]="pattern"
  >
  <br>
<div>

</div>
  <button type="button" (click)="saveAttribute()" class="btn btn-primary" data-color="blue"
          [disabled]="">Save</button>
  <button class="btn btn-primary pull-right" type="button" (click)="dismissDialog()">
    <span>Cancel</span></button>
<!--  </form>-->
</p-dialog>

